.DS_Store
node_modules
/build
/.svelte-kit
/package
.env
.env.*
!.env.example
.vercel
.output

# Ignore some of the output CSV
/rankings_atp/*
!/rankings_atp/atp_rankings_all.csv
/rankings_wta/*
!/rankings_wta/wta_rankings_all.csv